body {
	font-family: 'Open Sans';
	background-color: #f2f2f2;
}

.writeup {
	font-size: 16px;
	margin: 0 15% 0 15%;
}

a {
	color: #ff00cc;
}

h2 {
	color: #284A6E;
}

h3 {
	font-size: 14px;
	text-transform: uppercase;
	color: #aaa;
}

h4 {
	color: #284A6E;
	text-transform: uppercase;

}

.intro {
	font-size: 14px;
	font-style: italic;
	color: #bbb;
}

.graph-title, .graph-subtitle {
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.graph-subtitle {
	font-weight: normal;
	width: 100%;
	text-align: center;
	color: #ccc;
}